<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление аудитории</title>
</head>
<body>
    <h1>Добавить новую аудиторию</h1>

    {% if request.user.is_superuser %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Добавить</button>
        </form>
    {% else %}
        <p>Только администратор сайта может добавлять аудитории.</p>
    {% endif %}

    <ul>
        {% for item in menu %}
            <li><a href="{% url item.url_name %}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'room_list' %}">Назад к списку аудиторий</a>
</body>
</html>
